
.backgroundColor {
  background-color:rgba(246,246,246,1);
  margin: 0;
}

.header {
  background-color:rgba(32,84,125);
  width:100%;
  height:52px;
}

.home_pic {
  display: inline-block;
  width:90px;
  height:55px;
  margin:0 0 0 10px;
}

.header_word {
  padding: 2px 5px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size:16px;
  float:right;
  margin: 10px 25px 0px 0px;
  line-height: 30px;
}

.header_word:hover {
  background: rgba(18,60,93,1);
}

.title {
  text-align:center;
  margin-top:20px;
  font-size:40px;
}

.img_edge {
  margin: 40px auto;
  width: 400px;
  height: 500px;
}

.img {
  width: 400px;
  height: 500px;
}