
.backgroundColor {
  background-color:rgba(246,246,246,1);
  margin: 0;
}

.header {
  background-color:rgba(32,84,125);
  width:100%;
  height:52px;
  position: fixed;
  top: 0px;
}

.home_pic {
  display: inline-block;
  width:90px;
  height:55px;
  margin:0 0 0 10px;
}

.header_word {
  width: 50px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size:16px;
  float:right;
  margin: 10px 50px 0px 0px;
  padding-top:5px;
}

.header_word:hover {
  background: rgba(18,60,93,1);
}